html, body {
   margin: 0;
   padding: 0;
}

:root {
   --search-border: #bbb;
   --search-focus-border: #3a71ca;

}

.hide {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;

}

.container {
   padding: 2em;
   width: 80%;
   margin: auto;
   /* background:purple; */
   min-width: 320px;/* this is inorder to prevent the search box from disappearing from the website as the size of the site decrease this makes the search box remain the the size of 320px even when the site is too small  */
}

.search-bar {
   width:  30%;
   line-height: 2;
   border-radius: 4px;
   border: 1px solid var(--search-border);
   transition: all .3s; 

}

.search-bar:focus {
   width: 100%;

}

.search-bar::placeholder {
   font-weight: 200;

}

.search-bar::placeholder {
   font-weight: 200; /* the font weight gets bolder when the search bar gets clicked and whatever font listed becomes bolder by 200 */
}

.search-bar:focus::placeholder/* first targeting placeholder and then targeting the :: placeholder */{
  color: transparent;/* as the arrow clicks in and out of it the text dissappears from the placeholder */
}
