/* Cascading style sheet */

/* css describes the visual style and presentatiom of the content written in HTMl */

/* combining selectors */
/* h1,
h2,
h3,
h4,
p,
li {
   font-family: sans-serif;
} */

body {
   color: #444;
   font-family: sans-serif;
   border-top: 10px solid #1098ad;
   /* background-color: grey; */

}
/* Page Section */



.main-header {
   background-color: grey;
   padding-top: 1000px;

}

nav-bar {
   color: #444;
   font-size: 18px;
   margin-left: 10px;;

}

h1 {
   color: rgb(35, 155, 155);
   font-size: 46px;
   margin-top: 22px;
   font-family: sans-serif;
   text-transform: uppercase;
   font-style: italic;
}

h2 {
   font-size: 40px;
   font-family: sans-serif;

}

h3 {
   font-size: 30px;
   font-family: sans-serif;
   
}

h4{
   font-size: 20px;
   font-family: sans-serif;
   text-transform: uppercase;
   text-align:center;

}

p {
   font-size: 22px;
   font-family: sans-serif;
   line-height: 1.5;
}

li {
   font-size: 20px;
   font-family: sans-serif;
   margin-bottom: 18px;


}
/* combining selector pt2 (descendent selector) */
footer p {
   font-size: 13px;

}

article header p {
   font-style: italic;
}

#author {
   font-style:italic;
   font-size: 18px;
}
#copyright {
   font-size:  16px;
   
}

.related-author {
   font-size: 18px;
   font-weight: bold;
}

/* ul {
   list-style:none;
} */

.related {
   list-style: none;
}



aside {
   background-color: #f7f7f7;
   border-top: 5px solid #1098ad;
   border-bottom: 5px solid #1098ad;
   border-left: 5px dashed #1098ad;
   border-right: 5px dotted #1098ad;
   
}

/* PSEUDO ELEMENTS */
li:first-child {
   font-weight: bold;
}

li:last-child {
   font-weight: bolder;
}

/* (odd, even) */

li:nth-child(2){ 
   color:black;
}


/* STYLING LINKS */
a:link {
   color: #1098ad;
   text-decoration: none;
   /* gets rid of the underline */
}

a:visited {
   color:blue;
}

a:hover {
   color: orangered;
   font-weight: bold;
   text-decoration: underline dotted green;

}
/* state when we are actually clicking */
a:active {
   background-color: black;
   font-style: italic;


   .post-img {
      width: 100%;
      height: auto;
   }

   nav a:link {
      background-color: orangered;
      margin: 20px;
      
   }
}




/* RESOLVING CONFLICTS */
#copyright {
   color: red;
}

.copyright {
   color: blue;

}

.text {
   color: yellow;

}

footer p {
   color: green;
}




























/* Working with Colors 
RGB MODEL: every color can be representated b a combination of RED, GREEN and YELLOW 
EACH of the 3 base colors can take a value between 0 and 255, which leads to 16.8 million different colors 0-255. 0-255, 0-255
*/

/* RGB/RGBA NOTATION 
rgb(0, 255, 255)

RGB with transparency ("alpha")
rgba(0, 255, 255, 0.3)

*/


/* HEXADECIMAL NOTATION 
instead of using a scale from 0 to 255, we go from 0 to ff (255 in hexadecimal numbers
#00ffff

shorthand, when all colors are identical pairs
#0ff
*/

/* shades of GREY
rgb(0, 0, 0) */



