body, p, span{
   font-family: 'Roboto', sans-serif;
 }
 h1,h2,h3,h4,h5,h6,a{
   font-family: 'Rubik', sans-serif;
 }
 
 .finix-text h6{
   color: #e73c3e;
   font-weight: 400;
   font-size: 17px;
 }
 .finix-text h2 {
   font-weight: 400;
   font-size: 35px;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 .finix-text p {
   color: #606060;
   font-size: 15px;
   line-height: 1.8rem;
 }
 .why-choose-us {
   margin-top: 90px;
 }
 .why-choose-us .finix-text h2 {
   font-weight: 500;
 }
 .why-choose-us .ct-btn {
   display: inline-block;
   width: 85px;
   height: 85px;
   line-height: 85px;
   text-align: center;
   border-radius: 50%;
   font-size: 60px;
   background: #fff;
   position: absolute;
   top: 77%;
   right: 43%;
 }
 .why-choose-us .ct-btn::before {
   content: "";
   height: 85px;
   width: 85px;
   position: absolute;
   top: 0;
   left: 0;
   background: #e73a3e;
   border-radius: 50%;
   animation: choose 1.6s ease-out infinite;
 }
 @keyframes choose{
   0%,30%{
       transform: scale(0);
       opacity: 1;
   }
   50%{
       transform: scale(1.5);
       opacity: .7;
   }
   100%{
       transform: scale(2);
       opacity: 0;
   }
 }
 .why-choose-us .ct-btn a{
   color: #e73c3e;
 }
 .why-choose-us .feature-box {
   background: #fff;
   padding: 30px;
   margin-bottom: 30px;
   position: relative;
   overflow: hidden;
 
   transition: .4s;
 }
 .why-choose-us .feature-box:hover {
   transform: translateY(-10px);
 }
 .why-choose-us .feature-box:hover .fbc-btn{
   background: #e73c3e;
   color: #fff;
 }
 .why-choose-us .feature-box::before {
   content: "";
   position: absolute;
   top: -115px;
   left: 0;
   right: 0;
   margin: auto;
   width: 90%;
   height: 70%;
   background: #fdebeb;
   border-radius: 50%;
 }
 .why-choose-us .fbc-btn {
   display: inline-block;
   height: 90px;
   width: 90px;
   line-height: 90px;
   background: #fff;
   border-radius: 50%;
   text-align: center;
   color: #e73a3e;
   position: relative;
   transition: .4s;
 }
 .active-feature{
   margin-top: -30px;
 }
 .why-choose-us .finix-text{
   position: relative;
 }